h1{
    font-size: 4em;
    letter-spacing: 1px;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: aliceblue;
    position: relative;
    height: 100vh;
    width: auto;
}